.section{
    justify-content: center;
    align-items: center;

}

.div {
    padding: 200px;
    border-radius: 80px;
}


table{
    margin: auto;
    border-collapse: collapse;
    border: 10px solid yellow;
    border-bottom: none;
}



td{
    border-collapse: collapse;
    border: 2px solid yellow;
}

.arrow{
    height: 80px;
    width: 65px;
    
}

button{
    border : none;
    background-color: inherit;
    cursor: pointer;
}



@font-face {
    font-family: 'PixelFont';
    src: url('PixelFont.ttf') format('truetype')
}

h1{
    text-align: center;
    font-size: 55px;
    font-family: 'PixelFont';
    color : rgb(221, 205, 59);
    vertical-align: middle;
    padding-bottom: 10px;
}

.replay{
    padding-top: 10px;
    display: flex;
    margin: auto;
    font-size: 25px;
    font-family: 'PixelFont';
    color : rgb(221, 205, 59);
    vertical-align: middle;
    padding-bottom: 10px;  
}

.null{
    padding: 25px;
    font-size: 25px;
}



th, td{
    text-align: center;
    vertical-align: middle;
}

.coin{
    height: 50px;
    width: 50px;
    
}